ASPX/App_WebReferences/ae/gov/shurooq/takamul/tawasul.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDesigations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDesigationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDesigationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDepartments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDepartmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCompaniesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDesigationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDesigations" />
  </wsdl:message>
  <wsdl:message name="GetAllDesigationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDesigationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGroups" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllDesigationsHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDesigationsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupsHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllDesigationsHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDesigationsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupsHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="tawasulSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <wsdl:input message="tns:GetAllDesigationsSoapIn" />
      <wsdl:output message="tns:GetAllDesigationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input message="tns:GetAllDepartmentsSoapIn" />
      <wsdl:output message="tns:GetAllDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input message="tns:GetAllCompaniesSoapIn" />
      <wsdl:output message="tns:GetAllCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <wsdl:input message="tns:GetAllGroupsSoapIn" />
      <wsdl:output message="tns:GetAllGroupsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="tawasulHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersHttpGetIn" />
      <wsdl:output message="tns:GetAllUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <wsdl:input message="tns:GetAllDesigationsHttpGetIn" />
      <wsdl:output message="tns:GetAllDesigationsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input message="tns:GetAllDepartmentsHttpGetIn" />
      <wsdl:output message="tns:GetAllDepartmentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input message="tns:GetAllCompaniesHttpGetIn" />
      <wsdl:output message="tns:GetAllCompaniesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <wsdl:input message="tns:GetAllGroupsHttpGetIn" />
      <wsdl:output message="tns:GetAllGroupsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="tawasulHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersHttpPostIn" />
      <wsdl:output message="tns:GetAllUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <wsdl:input message="tns:GetAllDesigationsHttpPostIn" />
      <wsdl:output message="tns:GetAllDesigationsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input message="tns:GetAllDepartmentsHttpPostIn" />
      <wsdl:output message="tns:GetAllDepartmentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input message="tns:GetAllCompaniesHttpPostIn" />
      <wsdl:output message="tns:GetAllCompaniesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <wsdl:input message="tns:GetAllGroupsHttpPostIn" />
      <wsdl:output message="tns:GetAllGroupsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tawasulSoap" type="tns:tawasulSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <soap:operation soapAction="http://tempuri.org/GetAllDesigations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap:operation soapAction="http://tempuri.org/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <soap:operation soapAction="http://tempuri.org/GetAllGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tawasulSoap12" type="tns:tawasulSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <soap12:operation soapAction="http://tempuri.org/GetAllDesigations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap12:operation soapAction="http://tempuri.org/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap12:operation soapAction="http://tempuri.org/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <soap12:operation soapAction="http://tempuri.org/GetAllGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tawasulHttpGet" type="tns:tawasulHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <http:operation location="/GetAllUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <http:operation location="/GetAllDesigations" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <http:operation location="/GetAllDepartments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <http:operation location="/GetAllCompanies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <http:operation location="/GetAllGroups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tawasulHttpPost" type="tns:tawasulHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <http:operation location="/GetAllUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDesigations">
      <http:operation location="/GetAllDesigations" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <http:operation location="/GetAllDepartments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <http:operation location="/GetAllCompanies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <http:operation location="/GetAllGroups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tawasul">
    <wsdl:port name="tawasulSoap" binding="tns:tawasulSoap">
      <soap:address location="http://takamul.shurooq.gov.ae/tawasul.asmx" />
    </wsdl:port>
    <wsdl:port name="tawasulSoap12" binding="tns:tawasulSoap12">
      <soap12:address location="http://takamul.shurooq.gov.ae/tawasul.asmx" />
    </wsdl:port>
    <wsdl:port name="tawasulHttpGet" binding="tns:tawasulHttpGet">
      <http:address location="http://takamul.shurooq.gov.ae/tawasul.asmx" />
    </wsdl:port>
    <wsdl:port name="tawasulHttpPost" binding="tns:tawasulHttpPost">
      <http:address location="http://takamul.shurooq.gov.ae/tawasul.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>